:root {
  /* font-family: Inter, Avenir, Helvetica, Arial, sans-serif; */
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 16px;
  line-height: 1.5;
  font-weight: 400;

  color: #242424;
  background-color: rgba(255, 255, 255, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  display: flex;
  flex-direction: column;
  min-width: 100vw;
  min-height: 100vh;
  margin: 0;
}

main {
  flex-grow: 1;
}
main:has(.back-link) {
  text-align: center;
}

body>h1 {
  display: flex;
  justify-content: center;
  font-size: 18px;
  margin-top: 15px;
}

.form {
  display: flex;
  justify-content: center;
  margin: 30px;
}
input[name='search-text'] {
  height: 40px;
  width: 272px;
  padding: 0 5px;
  margin-right: 10px;
}

.loader {
  width: 91px;
  height: 40px;
  float: left;
  border-radius: 8px;
  color: white;
  background-color: #4E75FF;
  margin: 1px;
  letter-spacing: 1.5px;
  border: transparent;
}

.load-more {
  display: block;
  margin: 20px auto;
  padding: 10px 20px;
}
.hidden {
  display: none;
}