.loader-backdrop {
    position: fixed;
    inset: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(255, 255, 255, 0.6);
}

.hidden {
    display: none;
}

.loader {
    width: 48px;
    height: 48px;
    border: 5px solid rgba(241, 241, 4, 0.745);
    border-bottom-color: #3498db;
    border-radius: 50%;
    animation: rotation 1s linear infinite;
}

@keyframes rotation {
    to {
        transform: rotate(360deg);
    }
}